.navbar{
      background-color: #e2dbd0 !important;
}
.navbar img{
      max-width: 100px;
}
.navbar p{
      font-size: var(--bs-body-font-size);
}
.navbar .dropdown-menu{
      margin-top: 11px;
}
.navbar .dropdown-item{
      min-width: 200px;
      display: flex;
      justify-content: space-between;
      align-items: center;
}
.agent{
      display: flex;
      justify-content: center;
}
.agent-container{
      margin: 3rem;
      padding: 1.5rem;
      background-color: white;
      border-radius: 5px;
      width: 90%;
      max-width: 1000px;
}
.agent-search{
      background-color: rgba(0,0,0,.05);
      border-radius: 3px 3px 0 0;
      border: 0;
}
.agent-search input{
      background-color: rgba(0,0,0,.05);
      width: 80%;
      border-radius: 3px 0 0 3px;
      border: 0;
      padding: .3rem .5rem;
}
.agent .agent-search .btn{
      width: 20%;
      border-radius: 0 3px 3px 0;
      padding: .3rem 0 !important;
}     
.agent .btn{
      padding: 1px 6px !important;
}
.line-danger{
      background-color: #e4848d !important;
}
.line-warning{
      background-color: #fbd35c !important;
}